# C convention related checks
# R refactoring related checks
# W various warnings
# E errors, for probable bugs in the code
# F fatal, if an error occurred which prevented pylint from doing further processing.

[flake8]
# Disabled:
# C0103 Variable name "CF" doesn't conform to snake_case naming styl
# C0114 Missing module docstring
# C0115 Missing class docstring 
# C0116 Missing function or method docstring 
# C0301 Line too long
# C0303: Trailing whitespace
# C0321 More than one statement on a single line
# C0325 Unnecessary parens after 'if' keyword (superfluous-parens)
# C0326 Exactly one space required around assignment
# C0411 Import order
# C0413 Import should be placed at the top
# E0102 class already defined line
# E116  unexpected indentation (comment)  VSCODE comments
# E127  continuation line over-indented for visual indent
# E203  whitespace before ':'
# E221  multiple spaces before operator
# E222  multiple spaces after operator
# E226  missing whitespace around arithmetic operator
# E225  missing whitespace around operator
# E241  multiple spaces after ','
# E251  unexpected spaces around keyword / parameter equals
# E266  too many leading '#' for block comment
# E271  multiple spaces after keyword
# E272  multiple spaces before keyword
# E305  expected 2 blank lines after class or function definition, found 1
# E0401 Import Error
# E502  the backslash is redundant between brackets
# E0611 no-name-in-module
# E701  multiple statements on one line (colon)
# E704  multiple statements on one line (def)
# E1101 Instance of '' has no 'Init' member
# F541  f-string is missing placeholders
# R0801 Similar lines in 3 files
# R0902 too-many-instance-attributes
# R0903 too-few-public-methods
# W0612 Unused variable
# W0621 Redefining name '' from outer scope
# W0702 No exception type(s) specified (bare-except)
# W1309 Using an f-string that does not have any interpolated variables
#
### Work On Later
# R0201 Method could be a function
# R0205 Class 'FileIO' inherits from object
# R0904 Too many public methods (%s/%s)
# R1714 Consider merging these comparisons with "in" to
# W0201 Attribute %r defined outside __init__
# W0235 Useless super delegation in method '__init__'
# W293  blank line contains whitespace
# E115  expected an indented block (comment)
# E228  missing whitespace around modulo operator
# E231  missing whitespace after ','
# E262  inline comment should start with '# '
# E265  block comment should start with '# '
# E402  module level import not at top of file
# E501  line too long (100 > 79 characters)
# E502  the backslash is redundant between brackets
# E722  do not use bare 'except'
# F401  '' imported but unused
# F841  local variable 'y' is assigned to but never used
ignore=C0103, C0114, C0115, C0116, C0301, C0303, C0321, C0325, C0326, C0411, C0413,
        E0102, E116, E127, E203, E221, E222, E225, E226, E241, E251, E266, E271, E272, E302, E305, E0401, E502, E0611, E701, E704, E731, E1101, 
        F541, 
        R0801, R0902, R0903,
        W0621, W0702, W1309, W0612, W0201, W0235, W291,
        R0201, R0205, R0904, R1714, R1725,
        E115, E228, E231, E265, E262, E402, E501, E502, E722, F401, F841, W293


