### Build directories
/dist/
/build/
/*.egg-info/
/rssd/Unity/build/
/rssd/Unity/dist/
/rssd/Unity/fixtures/
/rssd/.vscode/

### IQ Waveform/Capture
*.iqw
*.wv
*.xml
*.tar

### Administrative
*.pyc
*.lnk
*.code-workspace
*.bat

### Data files
*.csv
*.xls
*.xlsx
*.pdf
*.ppt
*.pptx
*.rsi
*.json
rssd/VSA_Leveling.py
