language: python
cache: pip

notifications:
  email:
    recipients:
      - martin.lim@rsa.rohde-schwarz.com
    on_success: never     # default: change
    on_failure: always    # default: always

python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"

os:
  - linux
  # - osx         #Not working 19.04.23
  # - windows     #Windows does not support python
  
# command to install dependencies
install:
  # - pip install -r requirements.txt
  - pip install future_fstrings     #3.6 f-Strings in 2.7
  - pip install pyvisa
  - pip install coveralls
  - pip install pyvisa-py           #testing

# command to run tests
script:
  # - python -m unittest -v test.test_RSSD
  # - python -m unittest -v test.test_FileIO
  # - python -m unittest -v test.test_yaVISA
  - coverage run -m unittest -v test.test_RSSD
  - coverage run -a -m unittest -v test.test_FileIO
  - coverage run -a -m unittest -v test.test_yaVISA

after_success:
  - coveralls